<template>
  <div id="app">
    <div class="content">
      <div class="content-header">
        <img src="./assets/logo.png" class="logo"/>
      </div>
      <div class="content-main">
        <div>
          <h3>Select range of section and anchor</h3>
          <label for="fileName">File Name:</label>
          <input :id="fileName" v-model="fileName" />
          <br />
          <label for="tabName">Tab Name:</label>
          <input :id="tabName" v-model="tabName" />
          <br />
          <label for="selectedRange">Section Range:</label>
          <input :id="selectedRange" v-model="selectedRange" />
          <button @click="getRange" class="button">Get Range</button>
          <br />
          <label for="anchorName">Section Anchor:</label>
          <input :id="anchorName" v-model="anchorName" />
          <button @click="getAnchorName" class="button">Get Anchor name</button>
          <hr />

          <h3>Select headers (fields) names</h3>
          <label for="headers">Headers (fields):</label>
          <textarea
            :id="headers"
            v-model="headers"
            class="headersNames"
          ></textarea>
          <input
            type="checkbox"
            id="mergeHeadersRows"
            v-model="mergeHeadersRows"
          />
          <label for="mergeHeadersRows">Merge Rows</label>
          <button @click="getHeaders" class="button">Get Headers Names</button>
          <!--
          <label for="elementsNames">Elements Names Range Address:</label>
          <input :id="elementsNames" v-model="elementsNames"/>
          <button @click="getElemetsNames" class="button">Get Elemnets Names</button>
          <br>
          -->
          <hr />
          <h3>Set data class (tab) name and copy values</h3>
          <label>Data Class:</label>
          <input :id="dataClass" v-model="dataClass" />
          <button @click="copyToTab" class="copyToTab">Copy to tab</button>
          <hr />
          <h3>Auto Map to Titan fields</h3>
          <label>Source fields range:</label>
          <input :id="sourceFieldsRange" v-model="sourceFieldsRange" />
          <br>
          <label for="mapRange">Source fields names:</label>
          <textarea :id="sourceFields" v-model="sourceFields" class="headersNames"/>
          <button @click="getSourceFields" class="button">Get Souerse fields</button>
          <button @click="mapToTitanFields" class="copyToTab">Map to Titan fields</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "App",
  data() {
    return {
      selectedRange: "",
      anchorName: "",
      headers: "",
      elementsNames: "",
      dataClass: "",
      fileName: "",
      tabName: "",
      mapRange:"",
      sourceFields: "",
      sourceFieldsRange:"",
      mergeHeadersRows: false,
    };
  },
  methods: {
    mapToTitanFields(){
      window.Excel.run(async (context) => {
      let fieldList =this.sourceFields.toString().split(",");
      let guesses = await this.get_titan_guesses(fieldList);
      let guessesArr = guesses.data.message;
      let data = [[]];
      let i=0;
      fieldList.forEach((element) => {
        if (element != "") {
          let [titan_field_name, data_type, field_type, unit] = this.get_titan_mapping_for_source_field(guessesArr, element);
          data[i] = [
            titan_field_name,
            "",
            "",
            "",
            data_type,
            unit,
            "",
            "",
            field_type,
          ];
          i++;
        }
      });
      let rangeName = "E2:M" + (i+1).toString();
      console.log(rangeName + "!!!!!" + data)
      let sheets = context.workbook.worksheets;
      var sheet = sheets.getActiveWorksheet();
      let range = sheet.getRange(rangeName);
      range.values = data;
      range.format.autofitColumns();
      await context.sync();
     });
    },
    getRange() {
      window.Excel.run(async (context) => {
        const range = context.workbook.getSelectedRange();
        range.load("address");
        await context.sync();
        this.selectedRange = range.address;

        let sheets = context.workbook.worksheets;
        var sheet = sheets.getActiveWorksheet();
        sheet.load("name");
        await context.sync();
        this.tabName = sheet.name;
        let filePath = window.Office.context.document.url;
        this.fileName = filePath;
        if (filePath != "") {
          this.fileName = filePath.substr(filePath.lastIndexOf("/") + 1);
        }
      });
    },
    getSourceFields() {
      window.Excel.run(async (context) => {
        const range = context.workbook.getSelectedRange();
        range.load("values");
        await context.sync();
        range.load("address");
        await context.sync();
        this.sourceFields = range.values;
        this.sourceFieldsRange = range.address;
      });
    },

    getAnchorName() {
      window.Excel.run(async (context) => {
        const range = context.workbook.getSelectedRange();
        range.load("values");
        await context.sync();
        let filtered = range.values
          .toString()
          .split(",")
          .filter(function (el) {
            return el != "";
          });
        this.anchorName = filtered[0];
      });
    },

    getHeaders() {
      window.Excel.run(async (context) => {
        const range = context.workbook.getSelectedRange();
        range.load("values");
        await context.sync();
        range.load("rowCount");
        await context.sync();
        range.load("columnCount");
        await context.sync();
        let headersMergedNames = [];
        if (this.mergeHeadersRows) {
          for (var column = 0; column < range.columnCount; column++) {
            let mergedName = "";
            for (var row = 0; row < range.rowCount; row++) {
              if (range.values[row][column] != "") {
                mergedName += " " + range.values[row][column];
              }
            }
            if (mergedName != "") {
              headersMergedNames[column] = mergedName;
            }
          }
          this.headers = headersMergedNames;
        } else {
          headersMergedNames = range.values;
        }
        let filtered = headersMergedNames
          .toString()
          .split(",")
          .filter(function (el) {
            return el != "";
          });
        this.headers = filtered;
      });
    },
    /*
      getElemetsNames() {
        window.Excel.run(async context => {
          const range = context.workbook.getSelectedRange();
          range.load("address");
          await context.sync();
          this.elementsNames=range.address;
        });
      },
      */

    get_titan_mapping_for_source_field(guesses, source_field) {
      if(guesses[source_field].length == 0)
        return ["","","",""]
      let guess = guesses[source_field][0]
      return [guess.titan_field_name, guess.data_type, guess.field_type, guess.unit]
    },
    async get_titan_guesses(source_fields){
      let guesses = await axios.post(
              "http://localhost:8080/",
              {
                source_field_names: source_fields,
                data_class: this.dataClass.toString(),
              },
              {
                headers: {
                  "Content-Type": "text/plain",
                },
              }
            )
            return guesses;
    },
    copyToTab() {
          window.Excel.run(async (context) => {
            console.log("Enter the function");
            let headersList =this.headers.toString().split(",");
            let sheets = context.workbook.worksheets;
            let tabName = this.dataClass.toString();
            let sheet = sheets.getItemOrNullObject(tabName);
            await context.sync();
            let i = 0;
            let data = [[]];
            if (sheet.isNullObject == true) {
              sheet = sheets.add(this.dataClass.toString());
              sheet.tabColor = "yellow";
              data = [
                [
                  "Raw_Calc", //A 1
                  "Data Sources", //B 2
                  "Page_Tab_Reference", //C 3
                  "Source Field Name", //D 4
                  "Titan Field Name", //E 5
                  "Conditions", //F 6
                  "Calculations", //G 7
                  "Notes", //H 8
                  "Data Type (Mapping)", //I 9
                  "Unit", //J 10
                  "List Map", //K 11
                  "Display Attribute", //L 12
                  "Field Type", //M 13
                  "Frequency", //N 14
                  "Data Type", //O 15
                  "Section Range", //P 16
                  "Section Anchor",
                ], //Q 17
              ];
              i++;
            }
            headersList.forEach((element) => {
              if (element != "") {
                data[i] = [
                  "Raw",
                  this.fileName.toString(),
                  this.tabName.toString(),
                  element,
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                  this.selectedRange.toString(),
                  this.anchorName.toString(),
                ];
                i++;
              }
            });
            let range = sheet.getUsedRangeOrNullObject(true);
            range.load("values");
            await context.sync();
            if (range.isNullObject) {
              let rangeName = "A1:Q" + i.toString();
              console.log(rangeName);
              range = sheet.getRange(rangeName);
            } else {
              range.load("rowCount");
              await context.sync();
              let lastRow = range.rowCount;
              let rangeName =
                "A" + (lastRow + 1).toString() + ":Q" + (lastRow + i).toString();
              console.log(rangeName);
              range = sheet.getRange(rangeName);
              await context.sync();
            }
            console.log(data);
            range.values = data;
            range.format.autofitColumns();
            await context.sync();
          });
        },
  },
};
</script>

<style>
.content-header {
  background: #2a8dd4;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  font-family: Arial;
}

.content-main {
  background: #fff;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  font-size: 14px;
  padding-left: 5px;
  font-family: Arial;
}

.headersNames {
  width: 95%;
  padding: 5px;
}
.button {
  padding: 1px 5px;
  border: 1px solid #ddd;
  background-color: #2a8dd4;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
.copyToTab {
  padding: 1px 5px;
  border: 1px solid #ddd;
  background-color: #2f975e;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.logo{
  height: 100%;
  padding-left: 30%;
}
</style>
